<!doctype html>

<html lang="en">
  <head>
    <title>Globe Bank <%= ` - ${pageTitle}` %> <% if(preview) { %> <%= ' [PREVIEW]' %> <% } %></title>
    <meta charset="utf-8">
    <link rel="stylesheet" media="all" href="/css/public.css" />
  </head>

  <body>

    <header>
      <h1>
        <a href="/">
          <img src="images/gbi_logo.png" width="298" height="71" alt="" />
        </a>
      </h1>
    </header>
