<%- include('./fragments/staff-header', {pageTitle}) %>

<div id="content">
  <div id="main-menu">
    <h2>Main Menu</h2>
    <ul>
      <li><a href="/staff/subjects">Subjects</a></li>
      <li><a href="/staff/admins">Admins</a></li>
    </ul>
  </div>
</div>

<%- include('./fragments/staff-footer') %>
