<%- include('../fragments/staff-header', { pageTitle,
breadcrumbs: [
{name: 'Subjects', path: '/staff/subjects'},
{name: subject.menuName }
]}) %>

<div id="content">

  <div class="subject edit">
    
    <%- include('./fragments/create-form', {subject, subjectsCount, title: 'Edit Subject', actionUrl: `/staff/subjects/edit/${subject.id}`, submitButtonLabel: 'Edit Subject'}) %> 

  </div>

</div>

<%- include('../fragments/staff-footer') %>
