<%- include('../fragments/staff-header', {pageTitle}) %>

<div id="content">

  <a class="back-link" href="/staff/subjects">&laquo; Back to List</a>

  <div class="subject edit">
    
    <%- include('./fragments/create-form', {subject, subjectsCount, title: 'Edit Subject', actionUrl: `/staff/subjects/edit/${subject.id}`, submitButtonLabel: 'Edit Subject'}) %> 

  </div>

</div>

<%- include('../fragments/staff-footer') %>
