<%- include('../fragments/staff-header', { pageTitle,
breadcrumbs: [
{name: 'Subjects', path: '/staff/subjects'},
{name: '' }
]}) %>

<div id="content">

  <div class="subject new">
    
    <%- include('./fragments/create-form', {subject, subjectsCount, title: 'New Subject', actionUrl: '/staff/subjects/new', submitButtonLabel: 'Create Subject'}) %> 

  </div>

</div>

<%- include('../fragments/staff-footer') %>
