<%- include('../fragments/staff-header', { pageTitle,
breadcrumbs: [
{name: 'Subjects', path: '/staff/subjects'},
{name: page.subject.menuName, path: `/staff/subjects/show/${page.subject.id}`},
{name: page.menuName }
]}) %>

<div id="content">

  <div class="page delete">
    <h1 class="my-4">Delete Page</h1>
    <p class="lead">Are you sure you want to delete this page?</p>
    <h5><span class="badge badge-warning"><%= page.menuName %></span></h5>

    <form class="mt-4" action="<%= `/staff/subjects/${page.subjectId}/pages/delete/${page.id}` %>" method="post">
      <div class="form-group">
        <button type="submit" class="btn btn-outline-primary btn-sm">Yes, I'm sure</button>
      </div>
    </form>
  </div>

</div>

<%- include('../fragments/staff-footer') %> 
