<%- include('../fragments/staff-header', { pageTitle,
breadcrumbs: [
{name: 'Subjects', path: '/staff/subjects'},
{name: page.subject.menuName, path: `/staff/subjects/show/${page.subject.id}`},
{name: page.menuName }
]}) %>

<div id="content">

  <div class="page new">
    
    <%- include('./fragments/create-form', {title: 'Edit Page', page, pagesCount, actionUrl: `/staff/subjects/${page.subjectId}/pages/edit/${page.id}`, subjects, submitButtonLabel: 'Edit Page'}) %> 

  </div>

</div>

<script src="/js/md-editor.js" defer></script>
<%- include('../fragments/staff-footer') %> 
