<%- include('../fragments/staff-header', { pageTitle,
breadcrumbs: [
{name: 'Subjects', path: '/staff/subjects'},
{name: subject.menuName, path: `/staff/subjects/show/${subject.id}`},
{name: '' }
]}) %>

<div id="content">

  <div class="page new">
    
    <%- include('./fragments/create-form', {title: 'Create Page', page, pagesCount, actionUrl: `/staff/subjects/${page.subjectId}/pages/new`, subjects: null, submitButtonLabel: 'Create Page'}) %>

  </div>

</div>

<%- include('../fragments/staff-footer') %> 
